.elementor-5833 .elementor-element.elementor-element-1ec6aa4b{text-align:left;width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;}.elementor-5833 .elementor-element.elementor-element-1ec6aa4b .elementor-heading-title{font-family:"Lato", Sans-serif;font-weight:700;}.elementor-5833 .elementor-element.elementor-element-1ec6aa4b > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-5833 .elementor-element.elementor-element-2e77356d:not(.elementor-motion-effects-element-type-background), .elementor-5833 .elementor-element.elementor-element-2e77356d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FAFAFA;}.elementor-5833 .elementor-element.elementor-element-2e77356d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-5833 .elementor-element.elementor-element-2e77356d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-5833 .elementor-element.elementor-element-1a2b9205{text-align:center;width:100%;max-width:100%;}.elementor-5833 .elementor-element.elementor-element-1a2b9205 > .elementor-widget-container{margin:0px 0px 60px 0px;}.elementor-5833 .elementor-element.elementor-element-762d2a1f{padding:0px 0px 130px 0px;}.elementor-bc-flex-widget .elementor-5833 .elementor-element.elementor-element-16334c9e.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-5833 .elementor-element.elementor-element-16334c9e.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-5833 .elementor-element.elementor-element-16334c9e.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-5833 .elementor-element.elementor-element-16334c9e > .elementor-element-populated{margin:0px 25px 0px 0px;--e-column-margin-right:25px;--e-column-margin-left:0px;padding:0px 25px 0px 0px;}.elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(20px/2);}.elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(20px/2);}.elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(20px/2);margin-left:calc(20px/2);}.elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-20px/2);margin-left:calc(-20px/2);}body.rtl .elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-20px/2);}body:not(.rtl) .elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-20px/2);}.elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-icon i{color:#141F2E66;font-size:22px;}.elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-icon svg{fill:#141F2E66;--e-icon-list-icon-size:22px;}.elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-icon{width:22px;}.elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-text, .elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-text a{color:#141F2E80;}.elementor-5833 .elementor-element.elementor-element-23016e18 .elementor-icon-list-item{font-family:"Nunito Sans", Sans-serif;font-size:16px;font-weight:400;line-height:28px;}.elementor-5833 .elementor-element.elementor-element-23016e18 > .elementor-widget-container{margin:0px 0px 16px 0px;}.elementor-5833 .elementor-element.elementor-element-23016e18{width:100%;max-width:100%;}.elementor-5833 .elementor-element.elementor-element-6584c8c5 > .elementor-widget-container{margin:55px 0px 0px 0px;}.elementor-5833 .elementor-element.elementor-element-4f85b6b9 > .elementor-widget-container{margin:55px 0px 0px 0px;}.elementor-5833 .elementor-element.elementor-element-563b072f .elementor-heading-title{color:#141F2E80;font-family:"Lato", Sans-serif;font-size:16px;font-weight:400;line-height:20px;text-shadow:0px 0px 0px rgba(0,0,0,0.3);}.elementor-5833 .elementor-element.elementor-element-563b072f.ob-harakiri{writing-mode:inherit;}.elementor-5833 .elementor-element.elementor-element-563b072f.ob-harakiri .elementor-heading-title{writing-mode:inherit;transform:rotate(0deg);}.elementor-5833 .elementor-element.elementor-element-563b072f.ob-harakiri .elementor-widget-container > div{writing-mode:inherit;transform:rotate(0deg);}.elementor-5833 .elementor-element.elementor-element-563b072f .elementor-widget-container{text-indent:0px;mix-blend-mode:inherit;}.elementor-5833 .elementor-element.elementor-element-563b072f > .elementor-widget-container{margin:50px 0px 20px 0px;}.elementor-5833 .elementor-element.elementor-element-66852a2d{--grid-side-margin:20px;--grid-column-gap:20px;--grid-row-gap:20px;--grid-bottom-margin:20px;--e-share-buttons-secondary-color:var( --e-global-color-primary );width:var( --container-widget-width, 40% );max-width:40%;--container-widget-width:40%;--container-widget-flex-grow:0;}.elementor-5833 .elementor-element.elementor-element-66852a2d .elementor-share-btn{font-size:calc(0.5px * 10);height:40px;border-width:0px;}.elementor-5833 .elementor-element.elementor-element-66852a2d .elementor-share-btn__icon{--e-share-buttons-icon-size:16px;}.elementor-5833 .elementor-element.elementor-element-66852a2d > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(30px/2);}.elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(30px/2);}.elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(30px/2);margin-left:calc(30px/2);}.elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-30px/2);margin-left:calc(-30px/2);}body.rtl .elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-30px/2);}body:not(.rtl) .elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-30px/2);}.elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-icon i{color:#141F2E66;font-size:22px;}.elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-icon svg{fill:#141F2E66;--e-icon-list-icon-size:22px;}.elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-icon{width:22px;}.elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-text, .elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-text a{color:#141F2E80;}.elementor-5833 .elementor-element.elementor-element-54756ff6 .elementor-icon-list-item{font-family:"Nunito Sans", Sans-serif;font-size:18px;font-weight:400;line-height:24px;}.elementor-5833 .elementor-element.elementor-element-54756ff6 > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-5833 .elementor-element.elementor-element-610f182f .elementor-author-box__avatar img{width:80px;height:80px;border-radius:100px;}.elementor-5833 .elementor-element.elementor-element-610f182f .elementor-author-box__name{color:var( --e-global-color-primary );font-family:"Lato", Sans-serif;font-size:24px;font-weight:400;line-height:36px;margin-bottom:0px;}.elementor-5833 .elementor-element.elementor-element-610f182f .elementor-author-box__bio{color:#141F2E80;font-family:"Nunito Sans", Sans-serif;font-size:18px;font-weight:400;line-height:28px;margin-bottom:0px;}.elementor-5833 .elementor-element.elementor-element-610f182f > .elementor-widget-container{margin:50px 0px 50px 0px;}.elementor-5833 .elementor-element.elementor-element-610f182f{width:var( --container-widget-width, 100% );max-width:100%;--container-widget-width:100%;--container-widget-flex-grow:0;}.elementor-5833 .elementor-element.elementor-element-76973b64{font-family:"Nunito Sans", Sans-serif;font-size:18px;font-weight:400;line-height:28px;}.elementor-5833 .elementor-element.elementor-element-76973b64.ob-harakiri{writing-mode:inherit;}.elementor-5833 .elementor-element.elementor-element-76973b64.ob-harakiri .elementor-heading-title{writing-mode:inherit;transform:rotate(0deg);}.elementor-5833 .elementor-element.elementor-element-76973b64.ob-harakiri .elementor-widget-container > div{writing-mode:inherit;transform:rotate(0deg);}.elementor-5833 .elementor-element.elementor-element-76973b64 .elementor-widget-container{text-indent:0px;mix-blend-mode:inherit;}@media(min-width:768px){.elementor-5833 .elementor-element.elementor-element-16334c9e{width:20%;}.elementor-5833 .elementor-element.elementor-element-5e553b32{width:80%;}}@media(max-width:1366px){.elementor-5833 .elementor-element.elementor-element-1ec6aa4b .elementor-heading-title{font-size:55px;line-height:60px;}.elementor-5833 .elementor-element.elementor-element-762d2a1f{padding:0px 0px 100px 0px;}}@media(max-width:1024px){.elementor-5833 .elementor-element.elementor-element-762d2a1f{padding:0px 0px 79px 0px;} .elementor-5833 .elementor-element.elementor-element-66852a2d{--grid-side-margin:20px;--grid-column-gap:20px;--grid-row-gap:20px;--grid-bottom-margin:20px;}}@media(max-width:767px){.elementor-5833 .elementor-element.elementor-element-1ec6aa4b .elementor-heading-title{font-size:40px;line-height:45px;}.elementor-5833 .elementor-element.elementor-element-1ec6aa4b > .elementor-widget-container{margin:0px 0px 17px 0px;padding:0px 0px 0px 0px;}.elementor-5833 .elementor-element.elementor-element-1a2b9205 img{width:100%;height:226px;}.elementor-5833 .elementor-element.elementor-element-1a2b9205 > .elementor-widget-container{margin:0px 0px 35px 0px;}.elementor-5833 .elementor-element.elementor-element-762d2a1f{padding:0px 0px 65px 0px;}.elementor-5833 .elementor-element.elementor-element-16334c9e{width:100%;}.elementor-5833 .elementor-element.elementor-element-23016e18{width:var( --container-widget-width, 80% );max-width:80%;--container-widget-width:80%;--container-widget-flex-grow:0;} .elementor-5833 .elementor-element.elementor-element-66852a2d{--grid-side-margin:20px;--grid-column-gap:20px;--grid-row-gap:20px;--grid-bottom-margin:20px;}.elementor-5833 .elementor-element.elementor-element-5e553b32 > .elementor-element-populated{padding:20px 0px 0px 0px;}.elementor-5833 .elementor-element.elementor-element-610f182f .elementor-author-box__avatar img{width:60px;height:60px;}body.rtl .elementor-5833 .elementor-element.elementor-element-610f182f.elementor-author-box--layout-image-left .elementor-author-box__avatar,
					 body:not(.rtl) .elementor-5833 .elementor-element.elementor-element-610f182f:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-right:15px;margin-left:0;}body:not(.rtl) .elementor-5833 .elementor-element.elementor-element-610f182f.elementor-author-box--layout-image-right .elementor-author-box__avatar,
					 body.rtl .elementor-5833 .elementor-element.elementor-element-610f182f:not(.elementor-author-box--layout-image-above) .elementor-author-box__avatar{margin-left:15px;margin-right:0;}.elementor-5833 .elementor-element.elementor-element-610f182f.elementor-author-box--layout-image-above .elementor-author-box__avatar{margin-bottom:15px;}.elementor-5833 .elementor-element.elementor-element-610f182f .elementor-author-box__name{font-size:20px;line-height:28px;}.elementor-5833 .elementor-element.elementor-element-610f182f .elementor-author-box__bio{font-size:16px;line-height:24px;}.elementor-5833 .elementor-element.elementor-element-610f182f > .elementor-widget-container{margin:36px 0px 40px 0px;}}/* Start custom CSS for section, class: .elementor-element-a235771 */.share-block .share-block__link, .share-block__list li a {
    padding: 0;
}
#content section {
    background-color: #fafafa!important; 
}
div[data-elementor-type="single-post"] {
    padding-top: 0!important;
    margin-top: 40px;
}
body {
    background-color: #fafafa!important;
}
.post-contents ul li:before {
    opacity: 0;
}
.post-contents {
    width: 100%;
    position: relative;
}
.post-progress {
    height: 100%;
    width: 2px;
    background-color: rgb(20 31 46 / 10%);
    position: absolute;
    left: 0px;
    top: 0;
    
}
.post-progress .post-progress-line {
    background-color: #FD7B43;
    height: auto;
    width: 2px;
}
.post-contents ul {
    border: none;
}
#single-related-posts-wrapper {
    background-color: white!important;
}
#content .single-related-posts-wrapper,
.single-related-posts-wrapper {
    background-color: white!important;
}
@media only screen and (min-width: 1200px) {
  .el-post-img img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: center;
  }
    .elementor-680 .elementor-element.elementor-element-7dbdfa2 {
        padding-bottom: 10px;
        padding-top: 10px;
    }
.elementor-680 .elementor-element.elementor-element-573551f,
.elementor-680 .elementor-element.elementor-element-456ee4b {
            padding-bottom: 10px;
        padding-top: 10px;
}


}
.elementor-680 .elementor-element.elementor-element-c5178b6 {
    padding-top: 10px;
padding-right: 65px;
    padding-bottom: 10px;
    padding-left: 0px;
}
.elementor-680 .elementor-element.elementor-element-7b5a90b {
    margin-top: 86px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
@media (max-width: 767px) {
    .elementor-680 .elementor-element.elementor-element-c5178b6 {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 10px;
        padding-right: 24px;
        padding-bottom: 10px;
        padding-left: 24px;
    }
    .elementor-680 .elementor-element.elementor-element-7dbdfa2 {
        padding-top: 10px;
        padding-right: 24px;
        padding-bottom: 10px;
        padding-left: 24px;
    }
    .elementor-680 .elementor-element.elementor-element-456ee4b {
        padding-top: 10px;
        padding-right: 24px;
        padding-bottom: 10px;
        padding-left: 24px;
    }
    .elementor-680 .elementor-element.elementor-element-573551f {
        padding-top: 10px;
        padding-right: 24px;
        padding-bottom: 10px;
        padding-left: 24px;
    }
    .elementor-680 .elementor-element.elementor-element-7b5a90b {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 30px;
        padding-right: 24px;
        padding-bottom: 40px;
        padding-left: 024px;
    }
    .post-progress {display:none;}
 .post-contents ul {
    border-left: 2px solid rgb(20 31 46 / 10%);
}
 .post-contents ul li.__active::before {
    opacity: 1;
}
 
}/* End custom CSS */
/* Start custom CSS */:root {
    --single-main-color: #141F2E;
    --single-orange-color: #FD7B43;
    --single-purple-color: #7940F6;
    --single-sky-color: #ADD6FB;
    --single-grey-color: #B1B6C6;
    --single-light-grey-color: #F4F5F8;
}
body {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.elementor *, 
.elementor :after, 
.elementor :before {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
.mt-100 {
    margin-top: 100px;
} 
.mb-100 {
    margin-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.bg-grey {
    background-color: var(--single-grey-color);
}
.bg-lgrey {
    background-color: var(--single-light-grey-color);
}
a {
    transition: .3s;
}
div[data-elementor-type="single-post"] {
    padding-top: 40px;
}
div[data-elementor-type="single-post"] .single-article__main .elementor-author-box__avatar img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
} 
div[data-elementor-type="single-post"] .single-article__main .elementor-author-box__avatar {
    margin-left: 0;
    margin-right: 25px;
}
div[data-elementor-type="single-post"] .single-article__main .elementor-widget-author-box .elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

@media only screen and (max-width: 580px) { 
    div[data-elementor-type="single-post"] {
        padding-top: 20px;
    }
    div[data-elementor-type="single-post"] .single-article__main .elementor-author-box__avatar img {
        width: 60px;
        height: 60px;
    } 
    div[data-elementor-type="single-post"] .single-article__main .elementor-author-box__avatar {
        margin-right: 20px;
    }
    #single-article__main .elementor-widget-author-box h4 {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }


    
}



.single-article p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 18px;
    padding: 0;
}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
    padding: 0;
}
.single-article .single-post-excerpt p {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
}
.breadcrumbs {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--single-main-color);
    margin: 0 0 30px;
}
.breadcrumbs a {
    opacity: 0.5;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--single-main-color);
    margin: 0;
    padding: 0;
}
.breadcrumbs__separator {
    margin: 0 5px;
    opacity: 0.5;
}
.breadcrumbs .breadcrumbs__current {
    opacity: 1;
}
.talenom-card .elementor-widget-container {
    min-height: 190px;
}
.talenom-card .elementor-image-box-description {
    max-width: 245px;
}
.talenom-card .elementor-image-box-title {
    transition: 3s;
}
#single-article .talenom-card .elementor-image-box-title:hover a {
    color: var(--single-purple-color);
}
.talenom-card .elementor-image-box-title svg path {
    
}
.talenom-card .elementor-image-box-title svg {
    max-width: 25px;
    margin-left: 5px;
    transition: 3s;
}
.talenom-card .elementor-image-box-title:hover svg path {
    fill: var(--single-purple-color);
}
#relative-posts .elementor-post__badge {
    background-color: transparent;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    letter-spacing: 0;
    padding: 0;
    margin: 0 0 10px;
    text-transform: none;
}
.relative-posts .elementor-post__thumbnail {
    padding: 0!important;
}
#relative-posts .elementor-post__text {
    margin-top: 0;
    padding: 0;
}
#relative-posts .elementor-widget-posts .elementor-post__title  {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}

#share-btns .elementor-share-btn__icon {
    width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
}
#share-btns .elementor-share-btn {
    justify-content: flex-start;
    text-align: left;
}
.single-article__content {
    position: relative;
}
.single-article__sidebar .elementor-element-populated {
    width: 193px;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
}


.elementor-share-buttons--view-icon .elementor-share-btn, .elementor-share-buttons--view-text .elementor-share-btn {
    justify-content: flex-start;
}


#single-article .relative-posts {
    background-color: white;
}
.relative-posts .elementor-post__thumbnail img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    padding: 0;
}
.elementor-3642 .elementor-element.elementor-element-400a26c .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: 0;
}
.single-article {
    padding: 55px 0 0;
}
.post-contents {
    width: 100%;
}
.post-contents ul {
    font-family: "Nunito Sans", Sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start:0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    border-left: 2px solid rgb(20 31 46 / 10%);
}
.single-article__sidebar .elementor-element-populated {
    max-width: 220px;
    height: auto;
}
.single-article__sidebar .elementor-element-populated.fixed {
    position: fixed;
    right: auto;
    margin-right: -50%;
    /* left: 0; */
    width: 193px;
    height: 400px;
}

.talenom-cards-wrapper {
    width: 100%;
    margin: 35px 0 0;
}
.talenom-cards__row {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}
.talenom-card__item {
    margin: 0;
    padding: 20px;
    background-color: white;
    min-height: 190px;
    position: relative;
}
.talenom-card__item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.talenom-card__item:hover .talenom-card__item-title svg {
    transition: .3s;
    max-width: 25px;
}
.talenom-card__item:hover .talenom-card__item-title {
    color: var(--single-purple-color);
}
.talenom-card__item:hover .talenom-card__item-title svg path {
    fill: var(--single-purple-color);
}
.single-article__content .talenom-card__item-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: var(--single-main-color);
    margin: 0 0 15px;
    transition: .3s;
}
.talenom-card__item-desc {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--single-main-color);
    margin: 0;
}
.talenom-card__item-title svg {
    max-width: 25px;
    margin-left: 5px;
    transition: 3s;
}


.post-contents ul li {
    list-style-type: none;
    line-height: 1;
    padding: 0 0 0 15px;
    font-size: 14px;
    margin: 0 0 20px;
    position: relative;
}
.post-contents ul li:last-child {
    margin-bottom: 0;
}
.post-contents ul li:before {
    content: '';
    position: absolute;
    left: -2px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--single-orange-color);
    opacity: 0;
    transition: .3s;
}
.post-contents ul li.__active::before {
    opacity: 1;
}
.post-contents ul li a {
    font-family: "Nunito Sans", Sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--single-main-color);
    text-decoration: none;
}
.el-post-img img {
    width: 100%;
    /* height: 550px; */
    object-fit: cover;
    object-position: center;
}
#relative-posts .elementor-button {
    text-shadow: none;
}
.share-block {

}
.share-block__title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--single-main-color);
    opacity: 0.5;   
    margin: 0 0 20px;
}
.share-block__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.share-block__list li{
    list-style-type: none;
    margin: 0 0 20px;
    position: relative;
}
.share-block .share-block__link,
.share-block__list li a {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20 31 46 / 10%);
    text-decoration: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.share-block .share-block__link:hover,
.share-block__list li a:hover {
    background-color: #7940F6;
}
.share-block__list li a:hover svg path,
.share-block .share-block__link:hover svg path {
    fill: #fff;
}

.share-block__list li a svg {
    max-width: 17px;
}
.share-block__list li a svg path {
    fill: #141F2E;
}
.copied-link-popup {
    opacity: 0;
    position: absolute;
    top: 45px;
    left: -20px;
    min-width: 80px;
    margin-top: 10px;
    padding: 6px 5px;
    text-align: center;
    color: #fff;
    background-color: #141F2E;
    -webkit-box-shadow: 0 4px 14px 0 rgba(46,46,56,0.3);
    box-shadow: 0 4px 14px 0 rgba(46,46,56,0.3);
    font-size: small;
    z-index: 25;
    transition: .3s;
    font-size: 13px;
    font-family: "Nunito Sans", Sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.copied-link-popup::after {
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #141F2E;
    content: " ";
    height: 0;
    bottom: 100%;
    left: 50%;
    width: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}
.single-related-posts {
    width: 100%;
    position: relative;
    background-color: white;
    padding: 130px 0;
    margin: 0;
}
.single-related-posts__row {
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    display: grid;
}
.single-related-posts__title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.01em;
    color: var(--single-main-color);
    margin: 0 auto 70px;
    text-align: center;
}
.single-related-posts-wrapper {
    background-color: white;
}
.single-related-post {
    position: relative;
}
.single-related-post:hover .single-related-post__title {
    color: var(--single-purple-color);
}
.single-related-post__link {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.single-related-post__img {
    width: 100%;
    margin: 0 0 30px;
    line-height: 1;
    font-size: 0;
    padding: 0;
}
.single-related-post__img  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.single-related-post__content {
    width: 100%;
}
.single-related-post__tags {
    margin: 0 0 10px;
    list-style-type: none;
    padding: 0;
}
.single-related-post__tags li {
    list-style-type: none;
    margin: 0 10px 0 0;
    display: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.single-related-post__tags li:nth-child(1) {
    display: block;
}
.single-related-post__tags li a {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--single-main-color);
    opacity: .5;
}
.single-related-post__tags li a:hover {
    color: var(--single-purple-color);
    opacity: 1;
}
.single-related-post__title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    margin: 0;
    color: var(--single-main-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
}
.single-related-post__title a {
    text-decoration: none;
    color: var(--single-main-color);
}
.single-related-post__title a:hover  {
    color: var(--single-purple-color);
}
.single-related-posts__btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
}
.single-related-posts__btn {
    font-family: "Nunito Sans", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-shadow: none;
    text-decoration: none;
    outline: none;
    color: var(--single-purple-color);
    background-color: transparent;
    border: 2px solid var(--single-purple-color);
    border-radius: 49px;
    padding: 16px 34px;
}
.single-related-posts__btn:hover {
    color: white;
    background-color: var(--single-purple-color);
}
.article__viewed {
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 212;
    font-size: 12px;
}
#single-article__sidebar .elementor-element-populated {
    /* position: static; */
    top: 0!important;
    /* left: 0; */
}
.single-article__content p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 18px;
    padding: 0;
}
.single-article__main {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 18px;
    padding: 0;
}
#single-article__main h2 {
    margin-bottom: 25px;
    margin-top: 25px;
}
.single-article__main ul {
    padding-left: 20px;
}
.single-article__main ul li {
    margin-bottom: 15px;
}
#single-article__main h3 {
    margin-bottom: 25px;
}
#single-article__main h4 {
    margin-bottom: 25px;
    color: var(--e-global-color-primary );
    font-family: "Lato", Sans-serif;
    font-weight: 600;
    font-size: 22px;
}
#single-article__main .elementor-widget-author-box h4 {
    margin-bottom: 0;
}
#single-article__main h5 {
    margin-bottom: 25px;
    color: var(--e-global-color-primary );
    font-family: "Lato", Sans-serif;
    font-weight: 600;
    font-size: 20px;
}


.single-article__main blockquote {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #141F2E;
    margin: 0 0 30px;
}
.single-article__main blockquote p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #141F2E;
}




@media screen and (min-width: 1200px) {
    .container {
        max-width: 1120px;
    }
    #single-article .elementor-widget-container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
    #single-article .relative-posts .elementor-widget-container {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
    #single-article .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1100px;
    }
    .talenom-card__item {
        min-height: 190px;
    }



}
@media screen and (min-width: 1320px) {
    .talenom-cards-wrapper {
        width: 990px;
        max-width: 990px;
    }
    .talenom-card__item {
        min-width: 300px;
    }
}
@media only screen and (max-width: 1200px) {
    .pb-100 {
        padding-bottom: 80px;
    }
    .pt-100 {
        padding-top: 80px;
    }
    .mt-100 {
        margin-top: 80px;
    }
    .mb-100 {
        margin-bottom: 80px;
    }

    .single-article {
        padding: 55px 40px 0;
    }
    .single-article__content .talenom-card__item-title {
        margin: 0 0 9px;
        font-weight: 700;
        font-size: 24px;
        line-height: 38px;
    }
    .talenom-card__item-desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    #relative-posts .elementor-post__thumbnail img {
        width: 100%;
        height: 210px;
        object-fit: cover;
        object-position: center;
    }
    #relative-posts .elementor-grid {
        grid-template-columns: repeat(3,1fr);
    }
    .talenom-cards__row {
        gap: 35px;
    }
    .talenom-card__item {
        min-height: 170px;
    }
    .el-post-img img {
        /* height: 550px; */
    }
    .single-article__content .single-post-excerpt p {
        font-size: 24px;
        line-height: 36px;
    }
    .single-related-posts__title {
        margin: 0 auto 65px;
        font-size: 38px;
        line-height: 45px;
    }
    .single-related-post__img img {
        height: 210px;
    }
    .single-related-post__img {
        width: 100%;
        margin: 0 0 20px;
    }
    .single-related-post__title {
        font-size: 24px;
        line-height: 28px;
    }
    .single-related-posts {
        padding: 100px 0;
        position: relative;
    }
    .single-related-posts:before,
    .single-related-posts::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        top: 0;
        left: -100%;
    }
    .single-related-posts::after {
        left: auto;
        right: -100%;
    }
    #single-article__main h2 {
        font-size: 34px;
        line-height: 40px;
        letter-spacing: -0.01px;
        margin-bottom: 25px;
    }
    .single-article__main blockquote {
        font-size: 24px;
        line-height: 36px;
    }
    .single-article__main blockquote p {
        font-size: 24px;
        line-height: 36px;
    }
    .single .elementor-section.elementor-section-boxed > .elementor-container {
        padding: 0 20px;
    }
    .single .elementor-section.elementor-section-boxed > .elementor-container .elementor-container {
        padding: 0;
    }

  

}
@media only screen and (max-width: 1025px) {
    #relative-posts .elementor-grid {
        grid-template-columns: repeat(3,1fr);
    }



}
@media only screen and (max-width: 991px) {
    .pb-100 {
        padding-bottom: 60px;
    }
    .pt-100 {
        padding-top: 60px;
    }
    .mt-100 {
        margin-top: 60px;
    }
    .mb-100 {
        margin-bottom: 60px;
    }
    .single-article {
        padding: 55px 32px 0;
    }
    #relative-posts .elementor-grid {
        grid-template-columns: repeat(3,1fr);
    }
    .single-article__content .talenom-card__item-title {
        margin: 0 0 14px;
        font-size: 20px;
        line-height: 28px;
    }
    .talenom-card__item-desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    .talenom-card__item-title svg {
        max-width: 20px;
    }
    .talenom-card__item {
        min-height: 155px;
    }
    .el-post-img img {
        height: 385px;
    }
    #single-article__sidebar {
        position: relative;
    }
    .single-article__sidebar .elementor-element-populated {
        width: 100%;
        max-width: 100%;
    }
    #single-article__sidebar {
        width: 100%;
        max-width: 100%;
    }
    .post-contents ul li {
        padding: 0 0 0 16px;
        font-size: 16px;
        line-height: 24px;
    }
    #share-block-wrapper {
        right: 0;
        top: 0;
        position: absolute;
        width: auto;
        max-width: 400px;
    }
    .share-block__list ul {
        display: flex;
        align-items: center;
    }
    .share-block__list li {
        margin: 0 15px 0 0;
    }
    .share-block__title {
        margin-bottom: 15px;
    }
    .single-related-posts__btn {
        padding: 16px 34px;
    }
 
    .share-block .share-block__link, .share-block__list li a {
        width: 32px;
        height: 32px;
    }
    .share-block__list li {
        width: 32px;
    }
    .share-block__list ul {
        align-items: flex-start;
    }

    

}
@media only screen and (max-width: 767px) {
    .pb-100 {
        padding-bottom: 40px;
    }
    .pt-100 {
        padding-top: 40px;
    }
    .mt-100 {
        margin-top: 40px;
    }
    .mb-100 {
        margin-bottom: 40px;
    }
    #relative-posts .elementor-grid {
        grid-template-columns: repeat(1,1fr);
    }
    #relative-posts .elementor-post__thumbnail img {
        height: 400px;
    }
    .single-article__content .talenom-card__item-title {
        margin: 0 0 14px;
        font-size: 20px;
        line-height: 28px;
    }
    .talenom-card__item-desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    .talenom-card__item-title svg {
        max-width: 20px;
    }
    .talenom-card__item {
        min-height: 155px;
    }
    .el-post-img img {
        height: 385px;
    }
    .post-contents {
        position: relative;
    }
    .single-article p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 16px;
    }
    .single-article .single-post-excerpt p {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
    }
    .single-related-posts__row {
        grid-template-columns: repeat(1,1fr);
        gap: 60px 0;
    }
    .single-related-posts {
        padding: 80px 0;
    }
    .single-related-posts__title {
        margin: 0 auto 55px;
        font-size: 38px;
        line-height: 45px;
    }
    .single-related-post__img img {
        height: 400px;
    }
    .single-related-post__title {
        font-size: 28px;
        line-height: 35px;
    }
    .single-related-posts__btn {
        padding: 16px 34px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .share-block__list ul {
        flex-direction: column;
        align-items: flex-end;
    }
    .share-block .share-block__link, .share-block__list li a {
        width: 32px;
        height: 32px;
    }
    .share-block__list li {
        margin: 0 0 15px;
        width: 32px;
    }
    .share-block__list ul {
        align-items: flex-start;
    }
    #single-article__sidebar {
        min-height: 210px;
    }
    #single-article__main h2 {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.01px;
        margin-bottom: 25px;
    }
    .single .elementor-section.elementor-section-boxed > .elementor-container {
        padding: 0 32px;
    }



}
@media only screen and (max-width: 650px) {
    .share-block__list ul {
        flex-direction: column;
        align-items: flex-end;
    }
    .share-block__list li {
        margin: 0 0 15px;
        width: 32px;
    }
    .share-block__title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .share-block {
        text-align: right;
        z-index: 3;
    }
    #single-article__sidebar {
        min-height: 210px;
    }
    .copied-link-popup {
        top: 35px;
        left: -20px;
        font-size: 11px;
        line-height: 1;
    }
    .share-block .share-block__link, .share-block__list li a {
        width: 32px;
        height: 32px;
    }
    #single-article__main h2 {
        letter-spacing: -0.01px;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    #single-article__main h3 {
        margin-bottom: 25px;
        font-size: 20px;
    }
    #single-article__main h4 {
        margin-bottom: 25px;
        font-size: 18px;
    }
    #single-article__main h5 {
        margin-bottom: 25px;
        font-size: 16px;
    }
    .single-article__main div {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    #single-article__main #author-post h4 {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0;
    }


}
@media only screen and (max-width: 580px) {
    .single-article {
        padding: 20px 20px 0;
    }
    .breadcrumbs {
        margin: 0 0 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    #relative-posts .elementor-post__thumbnail img {
        height: 265px;
    }
    .talenom-cards__row {
        gap: 18px 0;
        grid-template-columns: repeat(1,1fr);
    }
    .talenom-card__item {
        min-height: 115px;
        padding: 24px;
    }
    .single-article__content .talenom-card__item-title {
        margin: 0 0 9px;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
    }
    .talenom-card__item-title svg {
        max-width: 25px;
        margin-left: 10px;
    }
    .talenom-card__item-desc {
        font-size: 16px;
        line-height: 20px;
    }
    .breadcrumbs span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .el-post-img img {
        width: 100%;
        height: 226px;
    }
    .talenom-cards-wrapper {
        margin: 24px 0 0;
    }
    .single-article .single-post-excerpt p {
        font-size: 18px;
        line-height: 28px;
    }
    .single-related-posts {
        padding: 60px 0;
    }
    .single-related-posts__title {
        margin: 0 auto 40px;
        font-size: 30px;
        line-height: 35px;
    }
    .single-related-post__img img {
        height: 265px;
    }
    .single-related-post__title {
        font-size: 24px;
        line-height: 28px;
    }
    .single-related-posts__row {
        grid-template-columns: repeat(1,1fr);
        gap: 56px 0;
    }
    .single-related-posts__btn {
        height: 40px;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
    }
    .post-contents {
        width: 100%;
        max-width: 80%;
    }
    .single-article__main blockquote {
        font-size: 18px;
        line-height: 28px;
    }
    .single-article__main blockquote p {
        font-size: 18px;
        line-height: 28px;
    }
    .single .elementor-section.elementor-section-boxed > .elementor-container {
        padding: 0 20px;
    }
    div[data-elementor-type="single-post"] .single-article__main .elementor-widget-author-box .elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }




}
@media only screen and (max-width: 480px) {




}
@media only screen and (max-width: 380px) {




}
@media only screen and (max-width: 360px) {




}/* End custom CSS */